
body{
    background-color: darkslategrey;
}.box
{
    border:5px solid red;
    color:red;
    display:block;
    background-color: aliceblue;
    font-weight: bold;
    margin-left:500px;
    font-size: x-large;
    font-style: italic;
    width: 300px;
    padding-left: 70px;
    box-shadow:4px 4px darkblue;
    text-shadow:1px 1px red;
}
.container{
    border:10px solid green;
}
.box1{
    border:5px solid red;
    box-shadow:4px 4px darkblue;
    color:darkblue;
    text-shadow: 1px 1px darkblue;
    display:block;
    background-color: aliceblue;
    font-weight: bold;
    margin-left:25px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height:200px;
   text-align: center;
}
.box2
{
    border:5px solid red;
    color:red;
    display:block;
    background-color: aliceblue;
    font-weight: bold;
    margin-right:25px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height:200px;
    text-align: center; 
   margin-bottom:20px;
   box-shadow:4px 4px darkblue;
}
.box3{
    border:5px solid red;
    color:darkblue;
    text-shadow: 1px 1px darkblue;
    box-shadow: 4px 4px darkblue;
    display:flex;
    background-color: aliceblue;
    font-weight: bold;
    margin-top:100px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height:200px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 50px;
    display:flex;
    justify-content: space-between;
    margin-left: 25px;
}
.box4{
    border:5px solid red;
    color:darkblue;
    display:flex;
    background-color: aliceblue;
    font-weight: bold;
    margin-top:100px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height:200px;
   padding-top:10px;
   padding-left:10px;
   text-align: center;
   text-shadow: 1px 1px darkblue;
    box-shadow: 4px 4px darkblue;
    margin-right: 25px;
}
.row2{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
.row1{
    display: flex;
    justify-content: space-between;
}
.main{
    display:flex;
    border:8px solid red;
    background-color: greenyellow;
    box-shadow: 5px 5px violet;
    height:100px;
    width:500px;
     border-radius:8px;
    position:fixed;
    top:25vw;
    left:33vw;
    right:32vw;
    bottom: 20vw;
    z-index: +1;

}
.main1{
    font-style: oblique;
    font-size:30px;
    color:red;
}
.main2{
    font-style: oblique;
    font-size: 25px;
    color:red;
    text-align: right;
}
.box5{
    display:block;
    border:8px  solid purple;
    width:1000px;
    height:70px;
    margin-left:300px;
    font-size: xx-large;
    text-align: center;
    background-color: green;

}
.box6{
    display:inline-block;
    border:5px solid purple;
    width:500px;
    height:200px;
    margin-left: 300px;
    font-size: medium;
    background-color: hsl(56, 88%, 62%);
    text-align: center;
    color:white;
    border-top: 20px solid green;
    border-right: 10px solid green;
}
.row3{
    display:inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: baseline;
}
.box7{
    display:inline-block;
    border:5px solid purple;
    width:500px;
    margin-top: 5px;
    height:200px;
    font-size: medium;
    background-color: hsl(56, 88%, 62%);
    color:white;
    text-align: center;
    margin:0px;
    position:relative;
    bottom: 5px;
    border-bottom: 25px solid green;
    border-left:10px solid green;
    
    
}
.box8{
    display:block;
    border:5px solid purple;
    width:1000px;
    height:200px;
    margin-left:300px;
    text-align: center;
    background-color: greenyellow;
    color: white;
}